*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Overpass', sans-serif;
}
.header{
    background-image: url(../img/background_head.png);
    background-size: cover;
    width: 100%;
}
.base-info img{
text-align: center;
}
.wrapper{
    margin: 0 auto;
    width: 85%;
}
.button{
    padding-bottom: 35px;
    margin: 0;
}
.base-info p{
    margin: 0px;
    width: 60%;
    color: #e5e5e5;
    padding: 40px 0px 32px;

}
.base-info h1{
    padding-top: 255px;
}
.base-info h1,h2{
    display: block;
    margin: 0;
    font-size: 79px;
    color: #8bd876;
    font-weight: 400;
}
.all_header_elem{
    display: flex;
    justify-content: space-between;
}
.button{
    display: flex;
    justify-content: space-between;
    width:60%;

}
.first h2{
    font-size: 35px;
}
 .second h2{
    font-size: 35px;
}
.left-button a{
    border-radius: 28px;
    background-color: #8bd976;
    border: 5px solid #8bd976;
    color: #000000;
    font-weight: 400;
    padding: 10px;
    margin: 50px 0px;
    text-align: center;    
}
.right-button a{
    border-radius: 28px;
    color: #8bd976;
    padding: 10px;
    border: 3px solid #8bd976;
    font-weight: 400;
}
.circle{
    display: block;
    padding: 1px 1px;
    border: 3px solid #8bd976;
    border-radius: 20px;
    width: 61%;
}
.base-rosp{
    display: flex;
    justify-content: space-between;
    justify-content: end;
    padding: 352px 0px 0px 0px;
    width: 60%;
}
.img{
    padding-right: 150px;
    margin-top: 230px;
    height: 15%;

}
img{
    padding-bottom: 165px;
}
.text{
    width: 60%;
    color: aliceblue;
    font-weight: 300;
    padding: 16px 0px;
}
.second, .first h2{
    font-weight: 400;
}
.tour{
    background-image: url(../img/second.png);
}
.tour_vstup h2{
    color: #000000;
}